.second {
    &-section {
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        margin: 0;
        max-width: none;
        width: 100%;
        background-image: url("../images/section-two-bg.png");

    

        &-box {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        &-text {
            width: 560px;
            display: flex;
            flex-direction: column;
        }
    }

    &-text {
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 1.6px;
        color: #E8E8E8;
    }

    &-title {
        font-family: 'Aleo', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 26px;
        color: #FFFFFF;
    }
}

.explore-btn {
    width: 228px;
    height: 63px;
    background: #5474FD;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    border: none;

    &:active {
        transform: scale(0.98);
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    }
}

.lake-pic {
    margin-bottom: 20px;
}

.pictures {
    display: flex;
    flex-direction: column;
}