@import '_first';
@import '_second';
@import '_third';
@import '_fourth';
@import '_fifth';
@import '_banner';
@import '_footer';
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}