.first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../images/section-one-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  width: 100%;
}

.first-section-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main-slogan {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 6.82px;
  color: #FFFFFF;
}

.search-bar-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-bar {
  width: 500px;
  height: 60px;
  left: 2px;
  top: 2px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 2.8px;
}

.search-bar:hover {
  -webkit-box-shadow: 0px 0px 15px 21px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 21px rgba(0, 0, 0, 0.1);
}

.search-btn {
  width: 150px;
  height: 66px;
  font-family: "Aleo", serif;
  background: #5474FD;
  border: 2px solid #FFFFFF;
  font-size: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.search-btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
          box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.scroll-down {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: last baseline;
      -ms-flex-pack: last baseline;
          justify-content: last baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.scroll-down-txt {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 2.8px;
  color: #FFFFFF;
}

i {
  color: #FFFFFF;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.first-section-nav {
  width: 100%;
  height: 83px;
  background-color: #5474FD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-title-nav {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2.4px;
  color: #FFFFFF;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 2rem;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  justify-items: center;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
}

.nav-item:hover {
  color: white;
  text-shadow: 2px 2px 2px rgba(253, 253, 255, 0.591);
}

.second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  max-width: none;
  width: 100%;
  background-image: url("../images/section-two-bg.png");
}
.second-section-text {
  width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  color: #E8E8E8;
}
.second-title {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  color: #FFFFFF;
}

.explore-btn {
  width: 228px;
  height: 63px;
  background: #5474FD;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 1.2px;
  color: #FFFFFF;
  border: none;
}
.explore-btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
          box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.lake-pic {
  margin-bottom: 20px;
}

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.third-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  width: 100%;
  background-image: url("../images/section-three-bg.png");
}

.box {
  margin-left: 20px;
  width: 543px;
  height: 374px;
  background-color: rgba(35, 35, 35, 0.7960784314);
}
.box-paragraph {
  font-size: 16px;
}
.box-text {
  margin-left: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 1.5px;
  color: #E8E8E8;
}

.book-btn {
  width: 228px;
  height: 63px;
  margin-left: 20px;
  background: #496BFE;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}
.book-btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
          box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.banner {
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}